<%= form_for @post do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Venue Name" %>
  </div>
  <div>
    <%= f.text_field :content, placeholder: "Description" %>
  </div>
  <div>
    <%= f.text_field :imageUrl, placeholder: "Image URL" %>
  </div>
  <%= f.submit "Create New Venue" %>
<% end %>