Create a New City

<%= form_for @city do |f| %>
  <div>
    <%= f.text_field :name, placeholder: "City Name" %>
  </div>
  <div>
    <%= f.text_field :description, placeholder: "Description" %>
  </div>
  <div>
    <%= f.text_field :url, placeholder: "Image URL" %>
  </div>
  <%= f.submit "Create City" %>
<% end %>