
<!-- ===================== SINGLE CITY LANDING PAGE ====================== -->
	
<body>
	<!-- <div class="container"> -->
		<div class="row-fluid">
			<div class="text-center">
				<h1>Transforming your travel experience.</h1>
			</div><hr>

		<!-- ==== MAIN CITY SPLASH PHOTO ===== -->

			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="cityImage">
					<img src="<%= @city.url %>"/>
				</div>
			</div>
		</div>


	  <div class="row">
      <p class="text-center"><%= button_to "Add New Post", new_city_post_path(@city), :method => 'get' %></p>
      <% @city.features.each do |feature| %>
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <h2 class="text-center"><%= feature.title %></h2><hr>
          <% feature.posts.each do |post| %>
          <div class="thumbnail">
              <img  class="img-responsive" src="<%= post.imageUrl %>"> 
              <div class="caption">
                <h3><%= post.title %></h3>
                  <p><%= post.content %></p>
                  <%= link_to "Edit", edit_city_post_path(@city, post) %>
                  <%= link_to "Delete", city_post_path(@city, post), method: :delete %>
              </div>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>


</body>