
<!-- ===================== SINGLE CITY LANDING PAGE ====================== -->
	
<body>
	<!-- <div class="container"> -->
		<div class="row-fluid">
			<div class="text-center">
				<h1>Transforming your travel experience.</h1>
			</div><hr>

		<!-- ==== MAIN CITY SPLASH PHOTO ===== -->

			<div class="col-xs-12 col-sm-12 col-md-12">
				<div class="cityImage">
					<img src="<%= @city.url %>"/>
				</div>
			</div>
		</div>


	  <div class="row">
      <p><%= button_to "Add New Post", new_post_path, :method => 'get' %></p>
      <% @city.features.each do |feature| %>
      <% @posts.each do |post| %>
        <div class="col-xs-12 col-sm-5 col-sm-offset-1">
          <h2 class="text-center"><%= feature %></h2><hr>
          <div class="thumbnail">
              <img  class="img-responsive" src="http://i.imgur.com/lBKheEC.jpg"> <div class="caption">
                <h3><%= post.title %></h3>
                  <p><%= post.content %></p>
                  <p><a href="" class="btn btn-info pull-right">View Project</a> </p>
                </div>
            </div>
        </div>
      <% end %>
      <% end %>
    </div>
  <!-- </div> -->

</body>