<head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Obscura</title>
         <!-- VENDOR SCRIPTS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

      <!-- FONTS -->
      <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300,300italic,500|Oswald:400,300,700|Montserrat' rel='stylesheet' type='text/css'>
      <link href='https://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>

      <!-- STYLESHEETS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

      
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>  


  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <a class="navbar-brand" href="/">OBSCURA</a>
      </div> 

    
  <div>
    <ul class="nav navbar-nav navbar pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
        <ul id="login-dp" class="dropdown-menu pull-right">
        <div class="form-group">
            <%= form_for :user, url: "/sessions", method: "post" do |f| %>
            <div>
              <%= f.text_field :email, placeholder: "Email",:class=>'form-control'%>
            </div>
            <div>
              <%= f.password_field :password, placeholder: "Password", :class=>'form-control' %>
            </div>

            <%= f.submit "Sign In", :class=> 'btn btn-primary btn-block'%>
            <% end %>
          </ul> 
        </div>


        <ul class="nav navbar-nav navbar pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Sign Up</b> <span class="caret"></span></a>
            <ul id="login-dp" class="dropdown-menu pull-right">
               <%= form_for :user, url: "/users", method: "post" do |f| %>
            <div>
              <%= f.text_field :first_name, placeholder: "First Name",:class=>'form-control'%>
            </div>

          <div>
            <%= f.text_field :last_name, placeholder: "Last Name",:class=>'form-control'%>
          </div>

          <div>
            <%= f.text_field :email, placeholder: "Email",:class=>'form-control'%>
          </div>

          <div>
            <%= f.password_field :password, placeholder: "Password",:class=>'form-control'%>
          </div>

          <div>
            <%= f.text_field :confirmation_code, placeholder: "Contributor Code" ,:class=>'form-control'%>
            <%= f.hidden_field :admin, value: false %>
          </div>

            <%= f.submit "Sign Up",:class=> 'btn btn-primary btn-block' %>
            <% end %>
        </ul>

      </div><!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
  </nav>
  <br><br><br>
</body>